@import './base.css';
@import './variables.css';

body {
  background-color: var(--kitsune-light);
  color: var(--kitsune-dark);
  overflow-x: hidden;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

/* Styles responsifs pour les appareils mobiles */
@media (max-width: 480px) {
  #app {
    padding: 0.5rem;
  }
}
