@import './base.css';
@import './variables.css';

body {
  background-color: var(--kitsune-light);
  color: var(--kitsune-dark);
  overflow-x: hidden;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  font-family: Arial, sans-serif;
  max-width: 800px;
}

/* Styles responsifs pour les appareils mobiles */
@media (max-width: 480px) {
  #app {
    padding: 0;
    width: 100%;
  }
}
