:root {
  /* Couleurs principales Kitsune */
  --kitsune-orange: #FF6B00;
  --kitsune-dark-orange: #E65C00;
  --kitsune-light-orange: #FF8C40;
  --kitsune-light: #FFF5EB;
  --kitsune-dark: #333333;
  --kitsune-grey: #E0E0E0;
  --kitsune-light-grey: #F5F5F5;
}